{% extends "base.html" %}
<!-- Extending the template: This template inherits from the "base.html" template -->

{% block title %} Reset your password {% endblock %}
<!-- Defining the title content for this page as "Reset your password" -->

{% block content %}
    <!-- Starting the main content block -->
   <div style="margin-top: 100px;"></div> <h1>Reset your password</h1>
    <!-- Main heading indicating the password reset information -->

    <div style=" margin-bottom:200px ; margin-top: 100px; margin-left: 40px; font-size: 25px;" >
    <p>We have sent you a reset password email to your email address.</p>
    <!-- Informational message notifying the user about the reset password email sent -->
     <p>If you don't receive a reset password email, please make sure you enter your email address correctly.</p>
    <!-- Instructional message in case the user doesn't receive the reset password email -->
    </div>
{% endblock %}
<!-- End of the main content block -->
