Someone asked for a password reset for email {{ email }}.
<!-- Informational message notifying that a password reset has been requested for a specific email address -->

Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
<!-- Generating a password reset link using the given protocol, domain, user ID (uidb64), and token -->

Your username, in case you've forgotten: {{ user.get_username }}
<!-- Providing the username as a reminder in case the user has forgotten it -->
