{% extends "base.html" %}
<!-- Extending the template: This template inherits from the "base.html" template -->

{% block title %} Reset your password {% endblock %}
<!-- Defining the title content for this page as "Reset your password" -->

{% block content %}
    <!-- Starting the main content block -->
    <h1>Reset your password</h1>
    <!-- Main heading indicating password reset form -->

    {% if validlink %}
        <!-- Checking if the link is valid -->
        <p>Please enter your password twice.</p>
        <!-- Instructional message for entering the password -->

        <form method="post">
            <!-- Form for resetting the password with post method -->
            {{ form.as_p }}
            <!-- Rendering the form fields for password reset -->
            {% csrf_token %}
            <!-- Including a CSRF token for security -->
            <p><input type="submit" value="Change your password" /></p>
            <!-- Submit button for changing the password -->
        </form>
        <!-- End of the form -->

    {% else  %}
        <p>The link is not valid......</p>
        <!-- Message displayed if the link is not valid -->
    {% endif  %}
{% endblock %}
<!-- End of the main content block -->
