{% extends "base.html" %}
<!-- Extending the template: This template inherits from the "base.html" template -->

{% block title %} Password changed {% endblock %}
<!-- Defining the title content for this page as "Password changed" -->

{% block content %}
    <!-- Starting the main content block -->
    <div style="margin-top: 100px ;">  <h1>Password changed</h1></div>
    <!-- Main heading indicating successful password change -->

    <div style="margin-bottom:200px ; margin-top: 100px; font-size: 25px;" > <p>Your password has been changed successfully.</p></div>
    <!-- Informational message confirming the successful password change -->
    
{% endblock %}
<!-- End of the main content block -->
