{% extends "base.html" %}
<!-- Extending the template: This template inherits from the "base.html" template -->

{% block title %} Reset your password {% endblock %}
<!-- Defining the title content for this page as "Reset your password" -->

{% block content %}
    <!-- Starting the main content block -->
    <div style="margin-top: 100px ;"> <h1>Forgotten your password</h1></div>
    <!-- Main heading indicating password recovery -->

    <div class="details"   style=" height: 300PX; width: 800PX; margin-top: 50px;" ><p>Enter your email address to obtain a new password.</p>
    <!-- Instructional message prompting the user to enter their email for password recovery -->
    
    <form method="post">
               <!-- Form for submitting the email for password recovery -->
                   
        {{ form.as_p }}
        <!-- Rendering the form fields, presumably for entering the email -->
    
        {% csrf_token %}
        <!-- Including a CSRF token for security -->
        <p> <input type="submit" value="Send email"></p>
        <!-- Submit button to trigger the sending of the password recovery email -->
        
    </form>
</div>
    <!-- End of the form -->
</div>
{% endblock %}
<!-- End of the main content block -->
