{% extends "base.html" %}
<!-- Extending the template: This template inherits from the "base.html" template -->

{% block title %} Change your password {% endblock %}
<!-- Defining the title content for this page as "Change your password" -->

{% block content %}
    <!-- Starting the main content block -->
    <div style="margin-top:100px ;"> <h1>Change your password</h1></div>
    <!-- Main heading indicating password change form -->

    <div style=" margin-top: 30px; font-size: 20px; font-weight: bold;"><p>Use this form to change your password.</p></div>
    <!-- Instructional message for using the form to change the password -->

    <form method="post">
        <div class="details" style="height: 600PX; margin-top: 50PX;">
        <!-- Form for changing the password with post method -->
        {{ form.as_p }}
        <!-- Rendering the form fields for password change -->
        {% csrf_token %}
        <!-- Including a CSRF token for security -->
        <input type="submit" value="Change">
        <!-- Submit button for changing the password -->
    </div>
    </form>
    <!-- End of the form -->
{% endblock %}
<!-- End of the main content block -->
