<nav>
  <div class="nav-bar">
    <i class="bx bx-menu sidebarOpen"></i>
    <span class="logo navLogo"><a href="#">Book Store</a></span>

    <div class="menu">
      <div class="logo-toggle">
        <span class="logo"><a href="#">Book Store</a></span>
        <i class="bx bx-x siderbarClose"></i>
      </div>
      <ul class="nav-links">
        <li><a href="{% url "homePage" %}">Home</a></li>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "books" %}">Books</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <a href="{% url "cart" %}">Cart <i class="bx bx-cart"></i></a>
        </li>
        <a class="login" href="{% url 'login' %}">login</a>
        <a class="signup" href="{% url "register" %}">Sign Up</a>
      </ul>
    </div>
    <form action="">
      <div class="box-searchBox">
        <div class="searchBox">
          <div class="searchToggle">
            <i class="bx bx-x cancel"></i>
            <i class="bx bx-search search"></i>
          </div>
          <div class="search-field">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</nav>


  