.about_section {
  position: relative;
  background-color: var(--body-color);
  margin-top: 70px;
}
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
  border-radius: 35px;
}

.about_section .detail-box p {
  margin-top: 15px;
}
.layout_padding {
  padding: 60px 0;
}
.containerabout {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #924f2c;
  color: #ffffff;
  border-radius: 45px;
  border: 1px solid #924f2c;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 15px;
  text-decoration: none;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #924f2c;
}


.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a:hover,
a:focus {
  color: initial;
}
