{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  {% block css %}{% endblock css %}
  <link rel="stylesheet" href="{% static 'baseCss/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/Home.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/boxicons.min.css' %}">
<!--   icon website -->
 <link rel="icon" href="{% static 'assets/images/icon1.png' %}" type="image/png">
</head>
<body>
  {% include "includes/navBar.html" %}
  {% block content %}
  {% endblock content %}
  {% include "includes/footer.html" %}
</body>
</html>